<div class="container">
  <div class="columns">
    <div class="quote column is-half is-offset-one-quarter is-flex-column">
      <app-quote-card
        [quote]="quote$ | async"
        (rate)="saveQuoteRating($event)"
      ></app-quote-card>
      <app-button-link
        class="has-top-margin is-aligned-at-end"
        (click)="getNewRandomQuote()"
      >
        <ng-container *ngIf="!isGoingToGetNewQuote"
          >Show me another</ng-container
        >
        <ng-container *ngIf="isGoingToGetNewQuote"
          >Going to get you another quote, hang on..</ng-container
        >
      </app-button-link>
    </div>
  </div>

  <app-quote-popular-list [quotes]="popularQuotes$ | async"></app-quote-popular-list>
</div>
