.is-flex-column {
  display: flex;
  flex-direction: column;
}

.are-center-aligned {
  align-items: center;
}

.is-aligned-at-end {
  align-self: flex-end;
}

.has-space-between-content {
  justify-content: space-between;
}
